:root {
    --bgcolor: #EFF7FF;
    --pbgcolor: #2C388B;
    --pcolor: #5A6DF6;
    --wpcolor: #FFE589;
    --wcolor: #FFF;
    --tcolor: #001293;
    --shcolor: #7A85D3;
    --lcolor: #ccc;
    --bcolor: #888;
}